
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Manrope');

// Set your brand colors
$ht-green: #64a82cff;

// Update Bulma's global variables
$family-sans-serif: "Manrope", sans-serif;
$primary: $ht-green;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// Import the rest of Bulma
@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css');